
@media only screen and (max-width : 1200px)

	.header
		&-logo__title
			font-size: 19px
	.nav
		font-size: 11px
		&__item 
			// margin-right: 21px
	.header-callback__tel
		font-size: 15px
	.hero
		&-content
			margin: 156px 0 70px
		&-title
			margin-bottom: 37px
			font-size: 32px
			& span 
				font-size: 30px
		&-subtitle
			margin-bottom: 29px
		 &__item
				font-size: 16px
				margin-bottom: 8px
		&-benefits
			margin-top: 115px
			font-size: 12px
	.man 
		width: 397px

	.modal
		font-size: 13px
		p 
			font-size: 11px

	.whywe
		padding: calc(80px *0.83) 0 41px
		&-title
			margin-bottom: calc(55px *0.83)
		&-item
			margin-bottom: calc(30px *0.83)
			&__title
				font-size: 18px
				margin-bottom: calc(30px *0.83)
			&__subtitle
				font-size: 13px
		&-wrap
			margin-bottom: calc(30px *0.83)

	.consultation
		padding: calc(90px*0.83) 0px (99px*0.83)
		&-title
			font-size: 34px
			margin-bottom: calc(17px*0.83)
		&-subtitle
			margin-bottom: calc(58px*0.83)
			font-size: 15px

	.decide
		padding: calc(85px*0.83) 0 calc(34px*0.83)
		&-title
			margin-bottom: calc(50px*0.83)
		&-item
			margin-bottom: calc(51px*0.83)
			&-wrap
				margin-bottom: calc(11px*0.83)

	.cost
		padding: calc(141px*0.83) 0 calc(111px*0.83)
		&-title
			font-size: 34px
			margin-bottom: calc(42px*0.83)
	.cost-item
		margin-bottom: calc(30px*0.83)
		&-span
			margin: 0 18px
		&__title
			min-width: 160px
			font-size: 22px
		&__subtitle
			font-size: 16px
			margin-bottom: calc(37px*0.83)

	.guarantees
		padding: calc(82px*0.83) 0 calc(24px*0.83)
		&-title
			margin-bottom: calc(76px*0.83)
			font-size: 34px
	.guarantees-item
		padding-left: 80px
		margin-bottom: calc(62px*0.83)
		&__subtitle
			font-size: 13px
		&__span--32
			font-size: 29px
		&__span--24
			font-size: 20px

	.question
		padding: calc(100px*0.83) 0 calc(90px*0.83)
		&-content
			margin-left: -25px
		&-title 
			font-size: 28px
		&-subtitle 
			font-size: 15px
		&-input
			min-width: 220px
		&-btn 
			min-width: 220px
	.form-wrap__col
		padding-right: 25px
		margin-bottom: 17px

	.history
		&-content
			padding-top: calc(85px*0.83)
		&-title
			font-size: 46px 
		&-sign
			margin-left: 200px
	.scroll-history
		margin-bottom: calc(70px*0.83)

	.howwork
		padding: calc(80px*0.83) 0 calc(60px*0.83)
		&-title 
			font-size: 46px
			margin-bottom: calc(50px*0.83)

	.review
		padding: calc(90px*0.83) 0 calc(130px*0.83)

	.top7
		padding: calc(75px*0.83) 0 calc(50px*0.83)
		&-title
			font-size: 40px
			margin-bottom: 20px
	.acord
		&-head 
			margin-bottom: 20px
		&-body 
			margin: 15px 0
			padding: 22px

	.marker
		padding: 20px
		&-btn 
			min-width: 240px
		&-contacts-title
			margin-bottom: 25px
		&-adress-subtext
			font-size: 13px

	.footer 
		padding: 20px 0 10px
		&-logo
			&-title
				font-size: 18px
			&-subtitle
				margin-bottom: 25px
				font-size: 12px
		&-menu
			&-title
				margin-bottom: 20px
			& .nav-item
				margin-right: 15px
				&:last-child
					margin-right: 0
		&-callback
			&-title 
				margin-bottom: 20px
			&-tel 
				padding-left: 20px
				font-size: 15px


@media only screen and (max-width : 992px)

	.header
		&-callback
			display: none
	.hero
		&-content
			margin: 120px 0 54px
		&-title
			margin-bottom: 28px
			font-size: 30px
			& span 
				font-size: 28px
		&-subtitle
			margin-bottom: 22px
		 &__item
				font-size: 15px
				margin-bottom: 6px
		&-benefits
			margin-top: 89px
			width: 100%
			font-size: 12px
	.man 
		display: none
		width: 350px
	.modal
		font-size: 12px
		p 	
			font-size: 10px
		h3
			margin-bottom: 20px
	#thanks 
		p
			font-size: 14px
		h3
			font-size: 16px
			margin-bottom: 15px
	.header .nav
		position: fixed
		display: flex
		width: 100%
		height: 100%
		flex-direction: column
		justify-content: space-around
		right: -100%
		top: 0px
		padding: 100px 50px
		z-index: -1
		background: rgba(3, 8, 25, .9)
		transition: all .3s
		text-align: center
		text-transform: uppercase
		font-size: 18px
	.header-nav.nav-active .nav
		right: 0
		z-index: 100
		.nav-item
			margin: 0
			margin-bottom: 10px
		& a
			color: #fff
			display: block
			text-decoration: none
			&:hover
				color: orange
				border: none
				font-size: 24px
			&:active
				font-weight: 900
	.hamburger
		display: block
		z-index: 1001
		right: 15px
	.hamburger-box
		right: 0

	.whywe
		padding: calc(80px *0.63) 0 31px
		&-title
			margin-bottom: calc(55px *0.63)
			font-size: 32px
		&-item
			margin-bottom: calc(30px *0.63)
			&__title
				font-size: 15px
				margin-bottom: calc(30px *0.63)
			&__subtitle
				font-size: 12px
		&-wrap
			margin-bottom: calc(30px *0.63)

	.consultation
		padding: calc(90px*0.63) 0px (99px*0.63)-20px
		&-title
			font-size: 32px
			margin-bottom: calc(17px*0.63)
		&-subtitle
			margin-bottom: calc(58px*0.63)
		&-form
			&-input
				width: 100%
				text-align: center
				// margin-bottom: 20px
			&-btn 
				width: 100%

	.decide
		padding: calc(85px*0.63) 0 calc(34px*0.63)
		&-title
			font-size: 32px
			margin-bottom: calc(50px*0.63)
		&-item
			margin-bottom: calc(51px*0.63)
			&__title
				font-size: 16px
			&__subtitle
				font-size: 12px
			&-wrap
				margin-bottom: calc(11px*0.63)

	.cost
		padding: calc(141px*0.63) 0 calc(111px*0.63)
		&-title
			font-size: 32px
			margin-bottom: calc(42px*0.63)
	.cost-item
		margin-bottom: calc(30px*0.63)
		&-span
			margin: 0 14px
		&__title
			min-width: 140px
			font-size: 19px
		&__subtitle
			font-size: 14px
			margin-bottom: calc(37px*0.63)

	.guarantees
		padding: calc(82px*0.63) 0 calc(24px*0.63)
		&-title
			margin-bottom: calc(76px*0.63)
	.guarantees-item
		margin-bottom: calc(62px*0.63)

	.question
		padding: calc(100px*0.63) 0 calc(90px*0.63)
		&-content
			margin-left: -20px
		&-title 
			font-size: 26px
		&-subtitle 
			font-size: 14px
		&-input
			font-size: 11px
			min-width: 215px
		&-btn 
			min-width: 210px
	.form-wrap__col
		padding-right: 20px
		margin-bottom: 14px

	.history
		&-bg-right
			display: none
		&-content
			padding-top: calc(85px*0.63)
		&-title
			margin-bottom: calc(40px*0.63)
			font-size: 44px 
		&-subtitle
			margin-bottom: calc(25px*0.63)
			font-size: 22px
		&-text 
			margin-bottom: calc(30px*0.63)
		&-posttext
			margin-bottom: calc(30px*0.63)
		&-sign
			margin-left: 400px
	.scroll-history
		margin-bottom: calc(70px*0.63)

	.howwork
		padding: calc(80px*0.63) 0 calc(60px*0.63)
		&-title 
			font-size: 44px
			margin-bottom: calc(50px*0.63)
	.howwork-item
		flex: 25% 
		margin-bottom: 20px

	.review
		padding: calc(90px*0.63) 0 calc(130px*0.63)
		&-title
			margin-bottom: 40px
			font-size: 42px
		&-swiper 
			margin: 0
		&-slide
			&-title
				padding: 15px 40px
			&-content
				padding: 15px 30px 25px
			&-rectangle-1
				left: 35px
				right: 35px
			&-rectangle-2
				left: 55px
				right: 55px
		&-swiper-next
			right: -50px
		&-swiper-prev
			left: -50px

	.top7
		padding: calc(75px*0.63) 0 calc(50px*0.63)
		&-hide
			display: none
		&-title
			text-align: center

	.marker
		display: none

	.footer 
		&-container
			flex-wrap: wrap
		&-logo
			order: 2
			&-title 
				font-size: 22px
			&-subtitle
				margin-bottom: 10px
				font-size: 14px
		&-menu
			order 1
			width: 100%
			margin-bottom: 20px
			&-title 
				display: none
			& .nav-item
				font-size: 16px
		&-callback 
			order: 3
			&-title 
				display: none
			&-tel 
				padding-left: 35px
				font-size: 18px


@media only screen and (max-width : 767px)

	.header
		&-logo__title
			font-size: 16px
		&-logo__subtitle
			font-size: 12px
	.hero
		&-content
			margin: 105px 0 47px
		&-title
			margin-bottom: 20px
			font-size: 24px
			& span 
				font-size: 24px
		&-subtitle
			margin-bottom: 20px
		 &__item
				font-size: 13px
				margin-bottom: 5px
		&-benefits
			margin-top: 67px
			font-size: 10px

	.modal
		h3
			margin-bottom: 15px

	#thanks 
		p
			font-size: 13px
		h3
			font-size: 15px
			margin-bottom: 10px

	.whywe
		padding: calc(80px *0.48) 0 24px
		&-title
			margin-bottom: calc(55px *0.48)
			font-size: 30px
		&-item
			margin-bottom: calc(30px *0.48)
			&__title
				font-size: 15px
				margin-bottom: calc(30px *0.48)
			&__subtitle
				font-size: 12px
		&-wrap
			margin-bottom: calc(30px *0.48)

	.consultation
		padding: calc(90px*0.48) 0px (99px*0.48)
		&-title
			font-size: 30px
			margin-bottom: calc(17px*0.48)
		&-subtitle
			margin-bottom: calc(58px*0.48)
			font-size: 14px
		&-form
			&-input
				font-size: 12px

	.decide
		padding: calc(85px*0.48) 0 calc(34px*0.48)
		&-title
			margin-bottom: calc(50px*0.48)
		&-item
			margin-bottom: calc(51px*0.48)
			&-wrap
				margin-bottom: calc(11px*0.48)

	.cost
		padding: calc(141px*0.48) 0 calc(111px*0.48)
		&-title
			font-size: 30px
			margin-bottom: calc(42px*0.48)
	.cost-item
		margin-bottom: calc(30px*0.48)
		&-span
			margin: 0 10px
		&__title
			min-width: 120px
			font-size: 16px
			&--hide
				display: none
		&__title2
			display: block
		&__subtitle
			font-size: 12px
			margin-bottom: calc(37px*0.48)

	.guarantees
		padding: calc(82px*0.48) 0 calc(24px*0.48)
		&-title
			margin-bottom: calc(76px*0.48)
			font-size: 32px
	.guarantees-item
		padding-left: 80px
		margin-bottom: calc(62px*0.48)
		&__subtitle
			font-size: 13px
		&__span--32
			font-size: 26px
		&__span--24
			font-size: 18px

	.question
		padding: calc(100px*0.48) 0 calc(90px*0.48)
		&-content
			margin-left: auto
		&-title 
			font-size: 26px
		&-subtitle
			font-size: 13px
		&-input 
			font-size: 10px
			min-width: 245px
	.form-wrap__col
		padding-right: 10px

	.history
		&-content
			padding-top: calc(85px*0.48)
		&-title
			margin-bottom: calc(40px*0.48)
			font-size: 36px 
		&-subtitle
			margin-bottom: calc(25px*0.48)
			font-size: 20px
		&-text 
			margin-bottom: calc(30px*0.48)
			font-size: 13px
		&-posttext
			margin-bottom: calc(30px*0.48)
			font-size: 13px
		&-sign
			margin-left: 280px
			font-size: 13px
	.scroll-history
		margin-bottom: calc(70px*0.48)
	.scrollbar-wrap
		padding-right: 35px

	.howwork
		padding: calc(80px*0.48) 0 calc(60px*0.48)
		&-title 
			font-size: 42px
			margin-bottom: calc(50px*0.48)
	.howwork-item
		margin-bottom: 15px
		&__title 
			font-size: 16px 
			margin-bottom: 15px 
		&-img
			margin-bottom: 20px

	.review
		padding: calc(90px*0.48) 0 calc(130px*0.48)
		&-title
			margin-bottom: 30px
			font-size: 38px
		&-slide-title
			padding: 10px 30px
		&-slide-content
			& span 
				font-size: 15px
			& p 
				font-size: 13px
		&-swiper-next
			display: none
		&-swiper-prev
			display: none

	.top7
		padding: calc(75px*0.48) 0 calc(50px*0.48)
		&-title
			font-size: 36px
	.acord 
		&-head-title 
			font-size: 13px
		&-body
			margin: 10px 0
			padding: 10px
			line-height: 1.5
			font-size: 13px

	.maps
		height: 350px

	.footer 
		&-logo
			&-title 
				font-size: 16px
			&-subtitle
				font-size: 12px
		&-menu
			margin-bottom: 20px
			& .nav-item
				font-size: 12px
		&-callback 
			&-tel 
				padding-left: 25px
				font-size: 16px

@media only screen and (max-width : 576px)

	.hero
		&-content
			margin: 90px 0 40px
			text-align: center
			&-wrap
				display: inline-block
				text-align: left
		&-title 
			font-size: 19px
			& span 
				font-size: 19px
		&-benefits
			margin-top: 50px
			flex-direction: column
			align-items: center
			font-size: 12px
			&-item 
				min-width: 220px
				margin-bottom: 25px
				padding-left: 70px

	.header .nav
		padding: 40px
		font-size: 16px

	.header-nav.nav-active .nav
		& a:hover
			font-size: 20px

	.whywe
		&-title
			font-size: 28px
		&-item
			&__title
				font-size: 14px

	.consultation
		&-title
			font-size: 26px
		&-subtitle
			font-size: 13px

	.decide
		&-title
			font-size: 30px
		&-item
			&__title
				font-size: 14px
			&__subtitle
				font-size: 12px

	.cost
		&-title
			font-size: 28px
	.cost-item
		&:nth-child(2)
			margin-bottom: calc(30px*0.48)
		&-span
			margin: 0 8px
		&__title
			min-width: 110px
			font-size: 16px
		&__subtitle
			display: none

	.guarantees
		&-title
			font-size: 30px
	.guarantees-item
		&__subtitle
			font-size: 12px
		&__span--32
			font-size: 24px
		&__span--24
			font-size: 16px

	.question
		&-title 
			font-size: 22px
		&-input 
			min-width: 215px
	.form-wrap__col
		padding-right: 10px

	.history
		&-title
			font-size: 32px 
		&-subtitle
			font-size: 18px
		&-text 
			font-size: 12px
		&-posttext
			font-size: 12px
		&-sign
			margin-left: 250px
			font-size: 12px
	.scrollbar-wrap
		padding-right: 25px

	.howwork
		&-title 
			font-size: 38px
	.howwork-item
		flex: 100%
		margin-bottom: 20px
		&__title 
			font-size: 15px 
			margin-bottom: 12px 
		&-img
			margin-bottom: 15px

	.footer 
		&-logo
			&-title 
				font-size: 16px
			&-subtitle
				font-size: 12px
		&-menu
			margin-bottom: 20px
			& .nav-item
				margin-right: 8px
				font-size: 12px
		&-callback 
			&-tel 
				padding-left: 25px
				font-size: 16px

@media only screen and (max-width : 480px)

	.modal label.error
		right: 40px
		left: 40px


	.hero
		&-content
			margin: 80px 0 10px
			&-wrap 	
				// max-width: 320px
		&-title 
			font-size: 18px
		&-benefits
			margin-top: 40px
	.modal
		max-width: 310px
	.btn-hollow
		min-width: 240px
	.footer__form_line input
		min-width: 240px

	.whywe
		&-title
			font-size: 26px
		&-item
			&__title
				font-size: 13px
			&__subtitle 
				font-size: 12px

	.consultation
		&-title
			font-size: 24px
		&-subtitle
			font-size: 12px

	.cost
		&-title
			font-size: 26px
	.cost-item
		&-span
			display: none
		&__title
			font-size: 16px

	.question
		text-align: center
		&-input
			width: 100%
			margin-bottom: 10px
			text-align: center
	.form-wrap__col
		width: 100%
		margin-bottom: 10px

	.history
		&-title
			font-size: 28px 
		&-subtitle
			font-size: 16px
		&-text 
			font-size: 12px
		&-posttext
			font-size: 12px
		&-sign
			margin-left: 140px
			font-size: 12px
	.scrollbar-wrap
		padding-right: 15px

	.howwork
		&-title 
			font-size: 34px
	.howwork-item
		margin-bottom: 15px
		&__title 
			font-size: 14px 
			margin-bottom: 12px 
		&-subtitle
			font-size: 12px

	.review
		&-title
			margin-bottom: 20px
			font-size: 32px
		&-slide-title
			padding: 10px 20px
			flex-direction: column-reverse
			justify-content: center
			text-align: center
			&-name span 
				font-size: 14px
			&-btn
				margin-bottom: 10px
		&-slide-content
			padding: 15px 20px 20px
			& span 
				font-size: 14px
			& p 
				font-size: 12px

	.top7
		&-title
			font-size: 30px
	.acord 
		&-head-title 
			font-size: 12px
		&-body
			margin: 5px 0
			padding: 5px
			line-height: 1.3
			font-size: 12px

	.footer 
		&-container
		&-logo 
			order: 2
			margin: 0 auto
			text-align: center
		&-menu 
			display: none
		&-callback
			order: 1
			margin: 0 auto
			margin-bottom: 10px
			&-subtel
				text-align: center
			