
@media only screen and (max-width : 1200px)

	.header
		&-logo__title
			font-size: 19px
	.nav
		font-size: 11px
		&__item 
			margin-right: 21px
	.header-callback__tel
		font-size: 15px
	.hero
		&-content
			margin: 156px 0 70px
		&-title
			margin-bottom: 37px
			font-size: 32px
			& span 
				font-size: 30px
		&-subtitle
			margin-bottom: 29px
		 &__item
				font-size: 16px
				margin-bottom: 8px
		&-benefits
			margin-top: 115px
			font-size: 12px
	.man 
		width: 397px

	.modal
		max-width: 600px
		padding: 40px 120px 30px
		font-size: 13px
		p 
			font-size: 11px

	.whywe
		padding: calc(80px *0.83) 0 41px
		&-title
			margin-bottom: calc(55px *0.83)
		&-item
			margin-bottom: calc(30px *0.83)
			&__title
				font-size: 18px
				margin-bottom: calc(30px *0.83)
			&__subtitle
				font-size: 13px
		&-wrap
			margin-bottom: calc(30px *0.83)

	.consultation
		padding: calc(90px*0.83) 0px (99px*0.83)
		&-title
			font-size: 34px
			margin-bottom: calc(17px*0.83)
		&-subtitle
			margin-bottom: calc(58px*0.83)
			font-size: 15px

	.decide
		padding: calc(85px*0.83) 0 calc(34px*0.83)
		&-title
			margin-bottom: calc(50px*0.83)
		&-item
			margin-bottom: calc(51px*0.83)
			&-wrap
				margin-bottom: calc(11px*0.83)

	.cost
		padding: calc(141px*0.83) 0 calc(111px*0.83)
		&-title
			font-size: 34px
			margin-bottom: calc(42px*0.83)
	.cost-item
		margin-bottom: calc(30px*0.83)
		&-span
			margin: 0 18px
		&__title
			min-width: 160px
			font-size: 22px
		&__subtitle
			font-size: 16px
			margin-bottom: calc(37px*0.83)

	.guarantees
		padding: calc(82px*0.83) 0 calc(24px*0.83)
		&-title
			margin-bottom: calc(76px*0.83)
			font-size: 34px
	.guarantees-item
		padding-left: 80px
		margin-bottom: calc(62px*0.83)
		&__subtitle
			font-size: 13px
		&__span--32
			font-size: 29px
		&__span--24
			font-size: 20px

@media only screen and (max-width : 992px)

	.header
		&-callback
			display: none
	.hero
		&-content
			margin: 120px 0 54px
		&-title
			margin-bottom: 28px
			font-size: 30px
			& span 
				font-size: 28px
		&-subtitle
			margin-bottom: 22px
		 &__item
				font-size: 15px
				margin-bottom: 6px
		&-benefits
			margin-top: 89px
			width: 100%
			font-size: 12px
	.man 
		display: none
		width: 350px
	.modal
		max-width: 400px
		padding: 20px 45px 15px
		font-size: 12px
		p 	
			font-size: 10px
		h3
			margin-bottom: 20px
	.nav
		position: fixed
		display: flex
		width: 100%
		height: 100%
		flex-direction: column
		justify-content: center
		right: -100%
		top: 0px
		padding-top: 51px
		z-index: -1
		background: rgba(0, 0, 0, .9)
		transition: all .3s
		text-align: center
		text-transform: uppercase
		font-size: 12px
	.header-nav.nav-active .nav
		right: 0
		z-index: 100
		.nav-item
			margin: 0
			margin-bottom: 30px
		& a
			color: #fff
			display: block
			text-decoration: none
			&:hover
				color: orange
				border: none
				font-size: 16px
			&:active
				font-weight: 900
	.hamburger
		display: block
		z-index: 1001
		right: 15px
	.hamburger-box
		right: 0

	.whywe
		padding: calc(80px *0.63) 0 31px
		&-title
			margin-bottom: calc(55px *0.63)
			font-size: 32px
		&-item
			margin-bottom: calc(30px *0.63)
			&__title
				font-size: 15px
				margin-bottom: calc(30px *0.63)
			&__subtitle
				font-size: 12px
		&-wrap
			margin-bottom: calc(30px *0.63)

	.consultation
		padding: calc(90px*0.63) 0px (99px*0.63)-20px
		&-title
			font-size: 32px
			margin-bottom: calc(17px*0.63)
		&-subtitle
			margin-bottom: calc(58px*0.63)
		&-form
			&-input
				width: 100%
				text-align: center
				margin-bottom: 20px
			&-btn 
				width: 100%

	.decide
		padding: calc(85px*0.63) 0 calc(34px*0.63)
		&-title
			font-size: 32px
			margin-bottom: calc(50px*0.63)
		&-item
			margin-bottom: calc(51px*0.63)
			&__title
				font-size: 16px
			&__subtitle
				font-size: 12px
			&-wrap
				margin-bottom: calc(11px*0.63)

	.cost
		padding: calc(141px*0.63) 0 calc(111px*0.63)
		&-title
			font-size: 32px
			margin-bottom: calc(42px*0.63)
	.cost-item
		margin-bottom: calc(30px*0.63)
		&-span
			margin: 0 14px
		&__title
			min-width: 140px
			font-size: 19px
		&__subtitle
			font-size: 14px
			margin-bottom: calc(37px*0.63)

	.guarantees
		padding: calc(82px*0.63) 0 calc(24px*0.63)
		&-title
			margin-bottom: calc(76px*0.63)
	.guarantees-item
		margin-bottom: calc(62px*0.63)


@media only screen and (max-width : 767px)

	.header
		&-logo__title
			font-size: 16px
		&-logo__subtitle
			font-size: 12px
	.hero
		&-content
			margin: 105px 0 47px
		&-title
			margin-bottom: 20px
			font-size: 24px
			& span 
				font-size: 24px
		&-subtitle
			margin-bottom: 20px
		 &__item
				font-size: 13px
				margin-bottom: 5px
		&-benefits
			margin-top: 67px
			font-size: 10px

	.modal
		padding: 15px 40px 10px
		h3
			margin-bottom: 15px

	.whywe
		padding: calc(80px *0.48) 0 24px
		&-title
			margin-bottom: calc(55px *0.48)
			font-size: 30px
		&-item
			margin-bottom: calc(30px *0.48)
			&__title
				font-size: 15px
				margin-bottom: calc(30px *0.48)
			&__subtitle
				font-size: 12px
		&-wrap
			margin-bottom: calc(30px *0.48)

	.consultation
		padding: calc(90px*0.48) 0px (99px*0.48)
		&-title
			font-size: 30px
			margin-bottom: calc(17px*0.48)
		&-subtitle
			margin-bottom: calc(58px*0.48)
			font-size: 14px
		&-form
			&-input
				font-size: 12px

	.decide
		padding: calc(85px*0.48) 0 calc(34px*0.48)
		&-title
			margin-bottom: calc(50px*0.48)
		&-item
			margin-bottom: calc(51px*0.48)
			&-wrap
				margin-bottom: calc(11px*0.48)

	.cost
		padding: calc(141px*0.48) 0 calc(111px*0.48)
		&-title
			font-size: 30px
			margin-bottom: calc(42px*0.48)
	.cost-item
		margin-bottom: calc(30px*0.48)
		&-span
			margin: 0 10px
		&__title
			min-width: 120px
			font-size: 16px
			&--hide
				display: none
		&__title2
			display: block
		&__subtitle
			font-size: 12px
			margin-bottom: calc(37px*0.48)

	.guarantees
		padding: calc(82px*0.48) 0 calc(24px*0.48)
		&-title
			margin-bottom: calc(76px*0.48)
			font-size: 32px
	.guarantees-item
		padding-left: 80px
		margin-bottom: calc(62px*0.48)
		&__subtitle
			font-size: 13px
		&__span--32
			font-size: 26px
		&__span--24
			font-size: 18px

@media only screen and (max-width : 576px)

	.hero
		&-content
			margin: 90px 0 40px
			text-align: center
			&-wrap
				display: inline-block
				text-align: left
		&-title 
			font-size: 19px
			& span 
				font-size: 19px
		&-benefits
			margin-top: 50px
			flex-direction: column
			align-items: center
			font-size: 12px
			&-item 
				min-width: 220px
				margin-bottom: 25px
				padding-left: 70px

	.whywe
		&-title
			font-size: 28px
		&-item
			&__title
				font-size: 14px

	.footer
		p
			font-size: 12px

	.consultation
		&-title
			font-size: 26px
		&-subtitle
			font-size: 13px

	.decide
		&-title
			font-size: 30px
		&-item
			&__title
				font-size: 14px
			&__subtitle
				font-size: 12px

	.cost
		&-title
			font-size: 28px
	.cost-item
		&:nth-child(2)
			margin-bottom: calc(30px*0.48)
		&-span
			margin: 0 8px
		&__title
			min-width: 110px
			font-size: 16px
		&__subtitle
			display: none

	.guarantees
		&-title
			font-size: 30px
	.guarantees-item
		&__subtitle
			font-size: 12px
		&__span--32
			font-size: 24px
		&__span--24
			font-size: 16px

@media only screen and (max-width : 480px)

	.hero
		&-content
			margin: 80px 0 10px
			&-wrap 	
				// max-width: 320px
		&-title 
			font-size: 18px
		&-benefits
			margin-top: 40px
	.modal
		max-width: 320px
	.btn-hollow
		min-width: 240px
	.footer__form_line input
		min-width: 240px

	.whywe
		&-title
			font-size: 26px
		&-item
			&__title
				font-size: 13px
			&__subtitle 
				font-size: 12px

	.consultation
		&-title
			font-size: 24px
		&-subtitle
			font-size: 12px

	.cost
		&-title
			font-size: 26px
	.cost-item
		&-span
			display: none
		&__title
			font-size: 16px